.body {
    background: linear-gradient(70deg, rgb(157, 96, 169), rgb(42, 122, 165));
    position: relative;}
.main {
    width: 1000px;
    display: inline-block;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;}
.section {
    position: relative;
    display: flex;
    flex-wrap: wrap;}
.privacy {
    background-image: url('../img/hill.jpg');
    background-size: cover;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 40%;
    position: relative;}
.form_zone {
    background-color: white;
    width: 60%;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: first baseline;
    display: flex;
    flex-direction: column;}

.button_zone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}
.main_title {
    color: white;
    font-size: 50px;
    margin-top: 30px;
    margin-left: 30px;
    font-weight: lighter;}
.bottom_devil {
    width: 220px;
    position: fixed;
    bottom: 60px;
    left: calc((400px - 220px) /2);
    color: white;}
.label {
    font-weight: bold;
    font-size: 10px;
    color: grey;}
.form {
    margin-left: 80px;}
.btn1 {
    text-decoration: none;
    color: white;
    background-color: #0162DA;
    padding: 10px 20px;
    border-radius: 20px ;
    width: 100px;
    text-align: center;}
.btn2 {
    text-decoration: none;
    color: #0162DA; 
    font-weight: bolder;
    text-align: center;}
.crazyx {
    position: fixed;
    top: 20px;
    right: 20px;}
.recover {
    position: fixed;
    bottom: 20px;
    right: 20px;}
.btn1:hover {
    background-color:blueviolet;
    color:black;
}
.btn2:hover {
    color: red;
}
